@import "tailwindcss";

:root {
}

@theme inline {
  --color-brand-red: #c95d48;
  --color-brand-plum: #4e3244;
  --color-brand-indigo: #4b587c;
  --color-brand-navy: #243447;
  --color-brand-teal: #0f6a83;
  --color-brand-off-white: #f3faf2;
  --color-brand-softmint: #96c3a3;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  :root {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-header);
  }

  .font-header {
    font-family: var(--font-header);
  }
  .font-body {
    font-family: var(--font-body);
  }
}
