---
import { SlashIcon } from "@heroicons/react/24/outline";
---

<div class="flex items-center">
  <span>HOME</span>
  <SlashIcon className="w-6 h-6 mx-1 relative top-[1px] text-raspberry" />
</div>
<div class="flex items-center">
  <span>ABOUT</span>
  <SlashIcon className="w-6 h-6 mx-1 relative top-[1px] text-raspberry" />
</div>
<div class="flex items-center">
  <span>GALLERIES</span>
  <SlashIcon className="w-6 h-6 mx-1 relative top-[1px] text-raspberry" />
</div>
<div class="flex items-center">
  <span>CONTACT</span>
  <SlashIcon className="w-6 h-6 mx-1 relative top-[1px] text-raspberry" />
</div>
<div class="flex items-center">
  <span>FOCUSING SCREEN</span>
</div>
