---
import { SlashIcon } from "@heroicons/react/24/outline";
---

<div class="flex items-center">
  <a href="/" class="underline hover:text-gray-500">HOME</a>
  <SlashIcon className="w-6 h-6 mx-1 relative top-[1px] text-raspberry" />
</div>
<div class="flex items-center">
  <a href="/about" class="underline hover:text-gray-500">ABOUT</a>
  <SlashIcon className="w-6 h-6 mx-1 relative top-[1px] text-raspberry" />
</div>
<div class="flex items-center">
  <a href="/galleries" class="underline hover:text-gray-500">GALLERIES</a>
  <SlashIcon className="w-6 h-6 mx-1 relative top-[1px] text-raspberry" />
</div>
<div class="flex items-center">
  <a href="contact" class="underline hover:text-gray-500">CONTACT</a>
  <SlashIcon className="w-6 h-6 mx-1 relative top-[1px] text-raspberry" />
</div>
<div class="flex items-center">
  <a href="https://focusingscreen.net" class="underline hover:text-gray-500"
    >FOCUSING SCREEN</a
  >
</div>
