---
import { SlashIcon } from "@heroicons/react/24/outline";
---

<div
  id="logo-text"
  class="font-header lg:text-3xl text-xl text-center border-y-raspberry border-y-4 py-4 px-1"
>
  <h1 class="tracking-wide flex flex-col justify-center text-center">
    <div class="text-black font-bold">MYCAH PLEASANT</div>
    <div class="inline-flex items-center mt-2 text-center justify-center">
      <SlashIcon
        className="-mt-[2px] lg:w-8 lg:h-8 w-6 sm:h-6 text-raspberry"
      />
      <span class="text-grey-light lg:text-2xl text-lg">PHOTOGRAPHER</span>
    </div>
  </h1>
</div>
