---
import { SlashIcon } from "@heroicons/react/24/outline";
import LogoText from "./LogoText.astro";
import Links from "./Links.astro";
---

<nav
  class="fixed top-0 left-0 h-screen w-100 flex-col p-6 shadow-lg bg-porcelain hidden lg:flex"
>
  <div
    class="absolute inset-0 bg-[url('/textures/diagonal-noise.png')] bg-repeat opacity-35 mix-blend-multiply pointer-events-none"
  >
  </div>
  <LogoText />

  <div
    class="mt-3 text-xl flex gap-y-2 font-medium flex-wrap flex-row w-[80%] tracking-wide"
  >
    <Links />
  </div>
</nav>
